footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: #f6172c;
  font-family: Creepster-Regular;
  font-size: 28px;

  .link {
    list-style: none;
    display: flex;

    li {
      margin: 0 20px;
      transform: scale(0.9);
      cursor: url(/axe.png), pointer;
    }

    li:hover {
      transform: scale(1);
    }
    a {
      cursor: url(/axe.png), pointer;
    }
    a:hover {
      cursor: url(/axe.png), pointer;
    }
    img:hover {
      cursor: url(/axe.png), pointer;
    }
  }

  .social {
    display: flex;
    a {
      cursor: url(/axe.png), pointer;
    }
    a:hover {
      cursor: url(/axe.png), pointer;
    }
    img {
      padding-left: 20px;
      transform: scale(0.9);
      cursor: url(/axe.png), pointer;
    }

    img:hover {
      transform: scale(1);
      cursor: url(/axe.png), pointer;
    }
  }
}
