::-webkit-scrollbar {
  background-color: rgba($color: #000000, $alpha: 1);
  width: 25px;
}

::-webkit-scrollbar-thumb {
  background: url("/thumb.png") no-repeat;
  background-size: 30px;
  display: block;
  background-position: center;
}

.main {
  .video {
    position: fixed;
    right: 0;
    left: 0;
    top: O;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  .movie-poster-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    margin: 200px auto 80px auto;
  }
  .hidden {
    display: none;
  }
  #screamer-pic {
    position: fixed;
    width: 50vw;
    height: 50vw;
    top: 0;
    left: 300px;
  }
}
