.movie-poster-title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto 2% auto;
  max-width: 80vw;
  width: 15vw;
  img {
    width: 14vw;
    height: 18vw;
    overflow: hidden;
    border-radius: 10px;
  }
  img:hover {
    cursor: url(/axe.png), pointer;
  }
  h2 {
    font-family: "Eater", cursive;
    color: #f6172c;
    font-size: 15px;
    text-align: center;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px,
      #000000 2px -2px;
  }
  :hover {
    filter: blur((1px));
    z-index: 1;
  }
}
