.movie-poster-title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto 2% auto;
  max-width: 80vw;
  width: 15vw;
}

.movie-poster-title img {
  width: 14vw;
  height: 18vw;
  overflow: hidden;
}

.movie-poster-title h2 {
  color: red;
  font-size: 1em;
}
