@import url("https://fonts.googleapis.com/css?family=Creepster&display=swap");

.NavBar {
  position: fixed;
  width: 100vw;
  right: 0;
  top: 0;
  background-color: #f6172c;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .strong-title {
    font-size: 3em;
  }
  h1 {
    font-family: "Creepster", cursive;
  }
  p {
    font-family: "Creepster", cursive;
    font-size: 2em;
  }
  p:hover {
    transform: scale(1.1);
  }
  img {
    height: 6vh;
  }
  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input {
    background-color: black;
    color: white;
    border-color: black;
    height: 3vh;
  }
  .search-png {
    height: 3vh;
  }
}
