.NavBar {
  background-color: #f6172c;
  padding: 1%;
  position: fixed;
  width: 100%;
  top: 0;
}
.NavbarComponents {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    background-color: black;
    border: none;
    color: red;
  }
}
.SearchInput {
  margin-right: 1%;
}
